:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  display: flex;
  min-height: max-content;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--Pale-blue);
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  color: var(--Desaturated-blue);
}
.wrapper {
  background-color: white;
  width: 343px;
  margin: 1rem;
  border-radius: 0.75rem;
}

header img {
  width: 100%;
  height: auto;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
main {
  padding: 0 2rem;
  line-height: 1.5;
}
h1,
.price-tittle {
  color: var(--Dark-blue);
  font-weight: bold;
}

.plan-section {
  background-color: var(--Very-pale-blue);
  border-radius: 1rem;
  margin: 1.5rem 0;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
}
button {
  font-family: inherit;
  font-weight: bold;
}

.plan-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plan-detail img {
  margin-right: 1rem;
}

.btn-plan-change {
  border: unset;
  background-color: unset;
  text-decoration: underline;
  color: var(--Bright-blue);
}
.btn-process-pay {
  border: unset;
  background-color: var(--Bright-blue);
  color: white;
  padding: 1rem;
  border-radius: 0.75rem;
  display: block;
  margin: 1rem auto;
  width: 100%;
  }
.btn-cancel-order {
  display: block;
  margin: 1rem auto;
  border: unset;
  background-color: unset;
  color: var(--Desaturated-blue);
}

.btn-plan-change:hover,
.btn-process-pay:hover{
    cursor: pointer;
    opacity: .7;

}
.btn-cancel-order:hover{
    cursor: pointer;
    color: var(--Dark-blue);   
}

@media (min-width:701px) {
    body{
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100% 55%;   
    }
    
}

@media (max-width:701px) {
    body{
      background-image: url(images/pattern-background-mobile.svg);
      background-repeat: no-repeat;
      background-size: 168% 38% ;
      
    }
    
}